.btn-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn{
  background-color: #000;
  color: #fff;
  padding: 0px 10px;
  border: none;
  font-size: 25px;
  width: 10%;
}

.edit{
  &-btn{
    background: transparent;
    border: none;
    margin-right: 10px;
  }
  &-icon{
    width: 30px;
  }
}

.delete-btn{
  padding: 3px 10px;
  background: transparent;
  color: red;
  border: 1px solid red;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}

.done-btn{
  height: 30px;
  border: none;
  margin-right: 10px;
  & img{
    height: 100%;
  } 
} 

.todo-item__confirm{
  cursor: pointer;
  background: transparent;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  display: none;
}