@import url(./buttons.scss);
@import url(./list.scss);

.todo{
  width: 40%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //для отступа от таймера
  // margin-right: 50px;
  @media(max-width: 991px) {
    width: 60%;
  }
  @media(max-width: 767px) {
    width: 75%;
  }
  @media(max-width: 575px) {
    width: 100%;
    margin-bottom: 30px;
    justify-content: flex-start;
    min-height: auto;
  }
  @media(max-width: 375px) {
    padding-top: 10px;
  }
  &__header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__output{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: .3s;
    &-content{
      border: 1px solid #000;
      padding: 10px;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      transition: .3s;
      @media(max-width: 575px) {
        padding: 5px;
      }
    }
  }
  &__form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box{
    &:first-child{
      margin-bottom: 30px;
    }
  }
  &-item{
    &__input{
      padding: 5px;
      border: none;
      outline: none;
      @media(max-width: 375px) {
        width: 80%;
      }
      &-wrapper{
        display: flex;
        border-radius: 5px;
        @media(max-width: 320px) {
          width: 60%;
        }
      }
    }
  }
  &__input{
    padding: 5px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 25px;
    width: 90%;
    @media(max-width: 375px) {
      font-size: 20px;
    }
  }
}

.todo__input:focus .error{
  display: none;
}