.list{
  &__item{
    opacity: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    transition: .5s;
    position: relative;
    &.active{
      opacity: 1;
    }
    &_done{
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 90%;
        height: 2px;
        background-color: #000;
        opacity: 1;
      }
    }
  }
  &-done{
    &__stub{
      margin-bottom: 10px;
      &-img{
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

.stub{
  transition: all .3s;
  &__title{
    margin-bottom: 10px;
  }
  &-opacity{
    opacity: 0;
  }
  &-none{
    opacity: 0;
    height: 0;
  }
}
