.timer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 300px;
  width: 30%;
  &__number{
    margin-bottom: 30px;
    font-size: 50px;
    @media(max-width: 1366px) {
      font-size: 40px;
    }
  }
  &__buttons{
    display: flex;
  }
}

.start-btn{
  background-color: greenyellow;
  padding: 10px 15px;
  border: none;
  transition: all .3s;
}

.stop-btn{
  background-color: orangered;
  padding: 10px 15px;
  border: none;
}

.reset-btn{
  background-color: yellow;
  padding: 10px 15px;
  border: none;
}