.timer{
  /* border: 1px solid #000; */
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 300px;
  width: 30%;
}

.timer__number{
  margin-bottom: 30px;
  font-size: 50px;
}

.timer__buttons{
  display: flex;
}

.start-btn{
  background-color: greenyellow;
  padding: 10px 15px;
  border: none;
  transition: all .3s;
}

.stop-btn{
  background-color: orangered;
  padding: 10px 15px;
  border: none;
}

.reset-btn{
  background-color: yellow;
  padding: 10px 15px;
  border: none;
}