.timer{
  border: 1px solid #000;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.timer__number{
  margin-bottom: 30px;
  font-size: 50px;
}

.start-btn{
  background-color: greenyellow;
  padding: 10px 15px;
  border: none;
}

.stop-btn{
  background-color: orangered;
  padding: 10px 15px;
  border: none;
}

.reset-btn{
  background-color: yellow;
  padding: 10px 15px;
  border: none;
}